MANIFEST
build
dist
*.egg-info
.idea
CMakeCache.txt
CMakeFiles
Makefile
_pulsar.so
cmake_install.cmake
__pycache__
.build
.pulsar-mac-wheels-cache
.DS_Store
wheelhouse
.pulsar-mac-build
vcpkg_installed/
*.pyd
*.lib
